{% extends '@EasyAdmin/crud/edit.html.twig' %}

{% block page_actions %}
{% endblock %}

{% block main %}
    {% set form = edit_form %}
    {{ form_start(form, {
        attr: {
            id: 'edit-archivo-form',
            enctype: 'multipart/form-data',
            'data-ea-form': 'edit-form'
        }
    }) }}
        {{ form_widget(form) }}

        {# Botones personalizados #}
        <div class="form-actions-bottom mt-4 d-flex justify-content-end">
            <div class="btn-group" role="group">
                {# Botón Volver #}
                <a href="{{ ea_url()
                    .setController('App\\Controller\\Admin\\ArchivoCrudController')
                    .setAction('index') }}" 
                    class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>

                {# Botón Guardar cambios #}
                <button type="submit" 
                        name="ea[editForm][action]" 
                        value="saveAndReturn" 
                        class="btn btn-success">
                    <i class="fas fa-save"></i> Guardar cambios
                </button>
            </div>
        </div>
    {{ form_end(form) }}

    <style>
        .form-actions-bottom {
            margin-top: 30px;
            padding: 20px 0;
            border-top: 1px solid #e9ecef;
        }
        .form-actions-bottom .btn {
            padding: 8px 16px;
            margin-left: 8px;
        }
    </style>
{% endblock %}
