{% extends '@EasyAdmin/crud/new.html.twig' %}

{% block page_actions %}
{% endblock %}

{% block main %}
    {# Formulario principal #}
    <form id="new-archivo-form" method="post" enctype="multipart/form-data">
        {{ parent() }}
    </form>

    {# Botones personalizados #}
    <div class="form-actions-bottom mt-4 d-flex justify-content-end">
        <div class="btn-group" role="group">
            {# Botón Volver #}
            <a href="{{ ea_url().setController('App\\Controller\\Admin\\ArchivoCrudController').setAction('index') }}" 
               class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
            </a>

            {# Botón Guardar y añadir otro #}
            <button type="submit" form="new-archivo-form" name="ea[newForm][action]" value="saveAndAddAnother" 
                    class="btn btn-primary">
                <i class="fas fa-plus-circle"></i> Guardar y añadir otro
            </button>

            {# Botón Guardar #}
            <button type="submit" form="new-archivo-form" name="ea[newForm][action]" value="saveAndReturn" 
                    class="btn btn-success">
                <i class="fas fa-save"></i> Guardar
            </button>
        </div>
    </div>

    <style>
        .form-actions-bottom {
            margin-top: 30px;
            padding: 20px 0;
            border-top: 1px solid #e9ecef;
        }
        .form-actions-bottom .btn {
            padding: 8px 16px;
            margin-left: 8px;
        }
    </style>
{% endblock %}
