{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_title %}
{##	{% trans %}Panel Administrador{% endtrans %} ##}
{% endblock %}

{% block main %}
      
            <div class="container mt-4">
              <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                  <h1 class="mb-4">Bienvenido a Vazquez Contadores Asociados</h1>
                  <p class="lead">Tu socio confiable en soluciones contables y financieras.</p>
                  <div class="row">
                    <div class="col">
                      <button class="btn btn-primary"><span class="ico-home"><img src="img/memo.svg" class="img-fluid"></span>Nuevo memo</button>
                    </div>
                    <div class="col">
                      <button class="btn btn-primary"><span class="ico-home"><img src="img/archivo.svg" class="img-fluid"></span>Nuevo archivo</button>
                    </div>
                    <div class="col">
                      <button class="btn btn-primary"><span class="ico-home"><img src="img/user.svg" class="img-fluid"></span>Nuevo cliente</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
{% endblock main %}