{% extends 'base.html.twig' %}

{% block title %}Acceso Denegado{% endblock %}

{% block body %}

<div class="alert alert-danger mt-5 text-center">
    <img src="{{ asset('build/images/Vazquez_logo_a.svg') }}" alt="Vazquez Contadores" class="login-logo mb-3">
    <h2>🚫 Acceso denegado</h2>
    <p>No tienes permiso para descargar este archivo.</p>
</div>
{% endblock %}
