  
   /*== Estilo login ==*/
   body {
        background: url('../images/bg_nuevo.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .login-container {
      max-width: 1280px;
      margin: auto;
      padding: 20px 0;
      height: 100vh;
    }
    .login-left {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .login-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .box-login{
      background: rgba(255, 255, 255, 0.9);
      padding: 2rem;
      border-radius: 15px;
      max-height: fit-content;
    }
    .form-control:focus {
      box-shadow: none;
      border-color: #a9b1c1;
    }
    .btn-disabled {
      background-color: #f3d9ec;
      border: none;
      color: #fff;
    }
    .login-logo {
      max-width: 375px;
      margin: 0 auto 1.5rem;
      display: block;
    }
    .btn-primary {
      background-color: #5d0b0d;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }
    .btn-primary:hover {
      background-color: #7a1215;
    }
    .required {
      background-color: #fff4cc; /* amarillo claro */
      border: 1px solid #ccc;
    }
    .required:focus {
      box-shadow: none;
    }
    .link {
      color: #004aad;
      text-decoration: none;
    }
    .link:hover {
      color: #002f6c;
    }
    .title {
      font-weight: bold;
      font-size: 1rem;
      color: #333;
    }
    .small.text-muted{
      font-size: 0.75rem;
      color: #666;
    }
/*== Estilo login ==*/